@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Slab&display=swap');

/* Globol Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
    

body {
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

/* Ruels section */



/* Game area section */

#game-area {
    border: 2px solid black;
    display: flex;
    flex-wrap: nowwrap;
    height: 100%;
    width: 75%;
}

#game-area img {
    
    height: 95px;
    width: 100px;
}


.grid {
    width: 100%;
}
