@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Slab&display=swap');

/* Globol Styles */
* {
    margin: 5px;
    box-sizing: border-box;
    padding: 0;
  }
    

body {
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
    text-align: center;
    min-height: 100vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


/* Ruels section */
#rules {
    margin-top: 3%;
    margin-bottom: 3%;
    
}

img.rules-img1 {
    box-shadow: 0px 0px 2px 3px rgb(23 235 59 / 30%);
    border-radius: 10%;
    height: 53px;
}

img.rules-img2 {
    box-shadow: 0px 0px 2px 3px rgba(218, 15, 8, 0.3);
    border-radius: 10%;
    height: 53px;
}



/* Game area section */
#game-area {
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 9px -15px 30px 19px rgb(0 0 0 / 10%);
    height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

#game-area img { 
    border-radius: 8%;
    box-shadow: inset 0px 3px 20px 0px rgb(0 0 0 / 10%);
    border: 2px dotted black;
    margin: 15px;
    height: 95px;
    width: 100px;
}