@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto+Slab&display=swap');

/* Globol Styles */

body {
    background-color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}